<div class="welcome-header text-center mb-5">
    <tui-icon icon="@tui.columns-3-cog" class="icon" size="xl"></tui-icon>
    <h1 class="fw-bold">Sistema Gestor de Tareas y Permisos de Teletrabajo</h1>
</div>










<div class="container-fluid justify-content-center align-items-center g-2">
    <!-- Panel de perfil -->
    <div class="col-lg-8">
        <div class="card shadow-sm p-4 perfil-card">
            <h4 class="mb-3">Bienvenida/o, {{ usuario.nombreUsuario }}</h4>


            <div class="row g-4">
                <div class="col-md-6" *ngFor="let info of userInfo">
                    <div tuiAppearance="floating"
                        class="user-card p-2 d-flex align-items-start gap-3">
                        <div class="icon-wrapper">
                            <tui-avatar appearance="warning" [src]="info.icon" size="m" />
                        </div>
                        <div tuiTitle>
                            <strong>{{ info.valor }}</strong>
                            <div tuiSubtitle>{{ info.etiqueta }}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Panel de calendario -->
    <div class="calendario" size="m">
        <h4>Recordatorios</h4>
        <tui-calendar></tui-calendar>
    </div>


    <div class="col-12 col-lg-7">
        <div class="card p-4 cont">
            <h4>Notificaciones</h4>

            <div class="table-responsive">
                <table class="table table-hover align-middle">
                    <thead class="table-light">
                        <tr>
                            <th>Tipo</th>
                            <th>Título</th>
                            <th>Mensaje</th>
                            <th>Correo Origen</th>
                            <th>Fecha Envío</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let noti of notificaciones">
                            <td>{{ noti.tipo }}</td>
                            <td>{{ noti.titulo }}</td>
                            <td>{{ noti.texto }}</td>
                            <td>{{ noti.correoOrigen }}</td>
                            <td>
                                <div>{{ noti.fechaRegistro | date:'dd/MM/yyyy' }}</div>
                                <div>🕐 {{ noti.fechaRegistro | date:'HH:mm' }} </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>



    <!-- Información del sistema -->
    <div class="info-card p-4">
        <header class="header-im" tuiHeader>
            <h2 tuiTitle>Importante!</h2>
            <aside tuiAccessories>
                <tui-badge appearance="neutral" iconStart="@tui.badge-info" size="xl">
                </tui-badge>
            </aside>
        </header>

        <section >
            <div class="d-flex align-items-center mb-2">
                <tui-icon icon="@tui.calendar-check" class="me-2"></tui-icon>
                <div>
                    <strong>Horario laboral:</strong> Lunes a Viernes <br />
                    7:30 AM - 4:30 PM
                </div>
            </div>


            <div class="d-flex align-items-center mb-2">
                <tui-icon icon="@tui.calendar-x" class="me-2 mt-4"></tui-icon>
                <div>
                    <strong>Próximos días no hábiles:</strong><br />
                    - 12 Octubre: Feriado Bancario
                </div>
            </div>

            <div class="d-flex align-items-center">
                <tui-icon icon="@tui.megaphone" class="me-2 mt-4"></tui-icon>
                <div>
                    <strong>ANUNCIO:</strong><br />
                    "Mantenimiento programado el próximo fin de semana."<br />
                    <small class="text-muted">(Actualizado: 10/Oct/2025)</small>
                </div>
            </div>
        </section>
    </div>


</div>