<div class="tabla-secundaria-wrapper">

    <div class="header">
        <h2>Tareas en revisión</h2>

        <div class="tabla-secundaria-filtros">
            <div class="filter-group">
                <label>Filtrar por título</label>
                <input tuiInput type="text" [(ngModel)]="filtros.titulo" (ngModelChange)="aplicarFiltros()" />
            </div>

            <div class="filter-group">
                <label>Filtrar por GIS</label>
                <input tuiInput type="text" [(ngModel)]="filtros.gis" (ngModelChange)="aplicarFiltros()" />
            </div>

            <button tuiButton tuiDropdownOpen appearance="outline" type="button" size="s" [tuiDropdown]="orden"> Fecha
            </button>

            <ng-template #orden>
                <tui-data-list tuiDataListDropdownManager>
                    <option tuiOption [value]="'asc'">Más reciente</option>
                    <option tuiOption [value]="'desc'">Más antigua</option>
                </tui-data-list>
            </ng-template>
        </div>

    </div>

    <div class="tabla-secundaria-container">
       
       
        <table>
            <thead>
                <tr>
                    <th>Título</th>
                    <th>Descripción</th>
                    <th>Asignado</th>
                    <th>Fechas</th>
                    <th>Acciones</th>
                </tr>
            </thead>


            <tbody>
                <tr *ngFor="let item of datosPaginados">
                    <td>
                        <div class="title">{{ item.titulo }}</div>
                        <div class="num-gis">{{ item.numGis }}</div>
                    </td>
                    <td>{{ item.Descripcion }}</td>
                    <td >
                        {{ item.nombreAsignado }}
                    </td>
                    <td>
                        <div>{{ item.fechaFin | date: 'dd/MM/yyyy' }}</div>
                        <div tuiSubtitle size="s" class="creator">Cierre: {{ item.fechaLimite | date: 'dd/MM/yyyy' }}</div>
                    </td>
                    <td>
                        <div class="acciones-btn">
                            <button tuiButton type="button" size="s" iconStart="@tui.eye" tuiHintDirection="bottom-right"
                                tuiHint="Más detalles" appearance="flat">
                            </button>
                            <button tuiButton type="button" size="s" iconStart="@tui.clipboard-check" tuiHintDirection="bottom-right"
                                tuiHint="Terminar/Aprobar Tarea" appearance="flat">
                            </button>
                            <button tuiButton type="button" size="s" iconStart="@tui.clipboard-x" tuiHintDirection="bottom-right"
                                tuiHint="Rechazar Tarea" appearance="flat">
                            </button>
                        </div>

                    </td>
                </tr>
            </tbody>
        </table>

        <div class="paginator-container">
            <tui-pagination [index]="index" [length]="length" (indexChange)="cambiarPagina($event)" size="l" />
        </div>


    </div>

</div>