<div class="container-fluid p-3" style="overflow-y: auto;">
  <form class="row g-3 needs-validation" [formGroup]="form" novalidate>

    <div>
      <h2 tuiTitle>
        <strong>Formulario para registrar una tarea</strong>
        <span tuiSubtitle>Complete todos los espacios a continuación</span>
      </h2>
    </div>


    <tui-textfield>
      <label tuiLabel>Numero de GIS</label>
      <input formControlName="gisValue" tuiTextfield />
      <tui-icon icon="@tui.badge-info" />
    </tui-textfield>
    <tui-error *ngIf="getErrorMessage('gisValue')">
      {{ getErrorMessage('gisValue') }}
    </tui-error>



    <tui-textfield>
      <label tuiLabel>Titulo tarea</label>
      <input formControlName="tituloValue" tuiTextfield />
      <tui-icon icon="@tui.badge-info" />
    </tui-textfield>
    <tui-error *ngIf="getErrorMessage('tituloValue')">
      {{ getErrorMessage('tituloValue') }}
    </tui-error>



    <tui-textfield iconStart="@tui.pencil">
      <label tuiLabel>Descripcion tarea</label>
      <textarea formControlName="desValue" placeholder="Indicaciones..." tuiTextarea [max]="5" [min]="5"></textarea>
    </tui-textfield>



    <tui-textfield>
      <label tuiLabel>Fecha Limite</label>
      <input formControlName="fechaLimite" tuiInputDate />
      <tui-calendar *tuiTextfieldDropdown />
    </tui-textfield>


    <div class="form-group">
      <label>Hora límite</label>
      <select class="form-control" formControlName="horaLimite">
        <option [ngValue]="null" disabled selected>Seleccione una hora</option>
        <option *ngFor="let hora of horasValidas" [ngValue]="hora">
          {{ hora }}
        </option>
      </select>
      <tui-error *ngIf="getErrorMessage('horaLimite')">
        {{ getErrorMessage('horaLimite') }}
      </tui-error>
    </div>



    <tui-textfield iconStart="@tui.pencil">
      <label tuiLabel>Motivo de Espera</label>
      <textarea formControlName="motivoEspera" [disabled]="motivoEsperaDeshabilitado" placeholder="Indicaciones..."
        tuiTextarea [max]="5" [min]="5"></textarea>
    </tui-textfield>



    <!-- Complejidad -->
    <div class="form-group">
      <label>Complejidad</label>
      <select class="form-control" formControlName="compleValue">
        <option [ngValue]="null" disabled selected>Seleccione complejidad</option>
        <option *ngFor="let level of nivelesCom" [ngValue]="level.value">{{ level.label }}</option>
      </select>
    </div>

    <!-- Prioridad -->
    <div class="form-group">
      <label>Prioridad</label>
      <select class="form-control" formControlName="prioValue">
        <option [ngValue]="null" disabled selected>Seleccione prioridad</option>
        <option *ngFor="let level of nivelesPrio" [ngValue]="level.value">{{ level.label }}</option>
      </select>
    </div>



    <div class="form-group">
      <label>Asignar a</label>
      <select tuiChevron class="form-control" formControlName="asignado">
        <option [ngValue]="null" disabled selected>Seleccione usuario</option>
        <option *ngFor="let user of lowUsers" [ngValue]="user.idUsuario">
          {{ user.nombreUsuario }} - {{ roleMap[user.rolUsuario] || 'Rol desconocido' }}
        </option>
      </select>
    </div>


    <button size="s" appearance="accent" tuiButton type="button" (click)="guardarTarea()">
      Guardar
    </button>
  </form>
</div>